@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--menu nav-->
<nav class="header-menu">
    <ul class="header-menu-wrap">
        <li class="header-menu-item">
            <a href="" class="header-menu-link header-menu-item__active">Trang chủ</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Thư ngõ</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Chuỗi sự kiện</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Mốc lịch sử</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Video</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Hình Ảnh</a>
        </li>
        <li class="header-menu-item">
            <a href="" class="header-menu-link">Liên hệ</a>
        </li>
    </ul>
</nav>
<main>
    <!--banner-->
    <section class="banner container">
        <div class="banner-img">
            <img src="~/scss/images/uploads/banner/50nam_banner.jpg"
                 class="img-fluid"
                 alt="" />
            <div class="banner-img-content d-flex flex-column justify-content-between">
                <div class="banner-img-content__primary col-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="first">Đại học Đà Nẵng</p>
                    <p class="last">Trường Đại học Kinh tế</p>
                </div>
                <div class="banner-img-content__secondary">
                    <p class="text-break">Tập san chào mừng kỷ niệm 50 năm thành lập Trường</p>
                </div>
                <div class="banner-img-content__btn">
                    <button class="button btn btn-primary">Xem thông tin</button>
                </div>
            </div>
        </div>
    </section>

    <!--Thư ngõ-->
    <section class="openletter container">
        <div class="openletter-title ">
            <h1 class="item">
                Thư Ngỏ
            </h1>
            <!--<p class="view">View all <i class="icon fa-solid text-secondary fa-right-long fw-bold"></i></p>-->
        </div>
        <div class="openletter-content d-flex flex-wrap justify-content-center mt-2">
            <div class="openletter-content-card text-center col-12 col-sm-12 col-md-12 col-lg-4">
                <img src="~/scss/images/uploads/banner/thongdiep_HT.jpg" class="card-img-top rounded-circle w-70 img-thumbnail mt-2" alt="popular_1">
                <h5 class="fs-4 text-break mt-2">Hiệu trưởng PGS.TS Lê Văn Huy</h5>
            </div>
            <div class="openletter-content-card col-12 col-sm-12 col-md-12 col-lg-8 ps-3">
                <h6 class="text-center card-title fs-3 text-break">THÔNG ĐIỆP CỦA HIỆU TRƯỞNG</h6>
                <p class="ml-2 text-secondary fs-6">Kính gửi các bạn sinh viên, các anh chị cựu sinh viên, quý thầy/cô và cán bộ viên chức, cùng các đối tác trong và ngoài nước thân mến</p>
                <p class="text-secondary fs-6 ">Thay mặt cho tập thể cán bộ viên chức Trường Đại học Kinh tế - Đại học Đà Nẵng (DUE), tôi xin gửi đến quý vị lời chào trân trọng nhất. Chúc tất cả mọi người luôn mạnh khỏe và tràn đầy hạnh phúc.</p>
                <p class="text-secondary fs-6 ">Chúng ta vẫn luôn kiên định với tầm nhìn chiến lược và khát vọng phát triển của mình: Đó là định vị DUE trở thành một trung tâm nghiên cứu và đào tạo hàng đầu tại Việt Nam, đóng góp đáng kể vào sự phát triển của cộng đồng ASEAN và tri thức nhân loại. Sứ mệnh của chúng ta là phát triển DUE bền vững, liên tục đổi mới và gắn liền với những giá trị nhân văn, do đó chỉ có thể đạt được khi chúng ta phát huy hết tiềm năng của thầy và trò, chủ động tham vấn để giải quyết các vấn đề bức thiết về kinh tế và xã hội địa phương và quốc gia, cũng như nuôi dưỡng và lan tỏa văn hóa học tập suốt đời.</p>
                <p class="text-secondary fs-6 ">Trải qua 50 năm xây dựng và phát triển, Trường Đại học Kinh tế - Đại học Đà Nẵng đã đạt được nhiều thành tựu rất đáng ghi nhận và trân trọng. Với nền tảng là những thành quả mà các thế hệ sư phạm Nhà trường đã xây dựng, cán bộ viên chức, sinh viên Nhà trường hãy cùng nhau sát cánh, tận tâm cống hiến để Trường Đại học Kinh tế - Đại học Đà Nẵng tiếp tục gặt hái được nhiều thành công và thắng lợi, hiện thực hoá Chiến lược phát triển Nhà trường tới năm 2030, tầm nhìn tới 2045, trở thành trường đại học có thứ hạng cao của Việt Nam, thuộc nhóm đầu các đại học ở Châu Á về một số ngành Kinh tế. </p>
            </div>
        </div>
    </section>
    <!--Đồng hồ đếm ngược-->
    <section class="clock">
        <div class="clock-time">
            <iframe width="298" height="64" src="https://tienichhay.net/ma-nhung.html?action=countdown&n=T%C3%AAn%20s%E1%BB%B1%20ki%E1%BB%87n&dl=Ng%C3%A0y&hl=Gi%E1%BB%9D&ml=Ph%C3%BAt&sl=Gi%C3%A2y&date=2025-11-20&eh=0&em=0&style=horizontal&size=1.7&r=36px&c=ffffff&bg=f98a2f&t=no&hide=yes&al=center&isln=no&rpy=no" title="Đếm ngược" style="width:100%;max-height:100%;" frameborder="0" scrolling="no" allowfullscreen>
            </iframe>
        </div>
    </section>
    <!--Ấn tượng DUE-->
    <section class="popular container">
        <div class="popular-title ">
            <h1 class="item">
                Ấn tượng DUE
            </h1>
            <!--<div class="time">
                <iframe width="298" height="64" src="https://tienichhay.net/ma-nhung.html?action=countdown&n=T%C3%AAn%20s%E1%BB%B1%20ki%E1%BB%87n&dl=Ng%C3%A0y&hl=Gi%E1%BB%9D&ml=Ph%C3%BAt&sl=Gi%C3%A2y&date=2025-11-20&eh=0&em=0&style=horizontal&size=1.7&r=36px&c=ffffff&bg=f98a2f&t=no&hide=yes&al=center&isln=no&rpy=no" title="Đếm ngược" style="width:100%;max-height:100%;" frameborder="0" scrolling="no" allowfullscreen>
                </iframe>
            </div> -->
            <!--<p class="view">View all <i class="icon fa-solid text-secondary fa-right-long fw-bold"></i></p>-->
        </div>
        <div class="popular-product d-flex flex-wrap justify-content-center mt-2">
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 p-2">
                <a href="@Url.Action("ListPost", "Post", new { type = 1 })" class="text-decoration-none">
                    <div class="popular-product-card card" style="width: 100%;">
					    <div class="text-center">
                            <img src="~/scss/images/uploads/products/connguoi.jpg" class="card-img-top rounded w-75 img-thumbnail mt-3" alt="popular_1">
                            <i class="icon-new fa-solid fa-bookmark text-danger fs-4"></i>
                       
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 text-break">Con người</h5>
                            <p class="mt-0 mb-0"><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i></p>
                        </div>
                    </div>
                </a>
            </div>
            
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 p-2">
                <a href="@Url.Action("ListPost", "Post", new { type = 2 })" class="text-decoration-none">
                    <div class="popular-product-card card" style="width: 100%;">
                        <div class="text-center">
                            <img src="~/scss/images/uploads/products/kientruc.jpg" class="card-img-top rounded w-75 img-thumbnail mt-3" alt="popular_1">
                            <i class="icon-new fa-solid fa-bookmark text-danger fs-4"></i>
                        
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 text-break">Kiến trúc</h5>
                            <p class="mt-0 mb-0"><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i></p>
                        </div>
                    </div>
                </a>
            </div>
            
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 p-2">
                <a href="@Url.Action("ListPost", "Post", new { type = 3 })" class="text-decoration-none">
                    <div class="popular-product-card card" style="width: 100%;">
                        <div class="text-center">
                            <img src="~/scss/images/uploads/products/KhuonVien.jpg" class="card-img-top rounded w-75 img-thumbnail mt-3" alt="popular_1">
                            <i class="icon-new fa-solid fa-bookmark text-danger fs-4"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 text-break">Khuôn viên trường</h5>
                            <p class="mt-0 mb-0"><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i></p>
                        </div>
                    </div>
                </a>
            </div>
            
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 p-2">
                <a href="@Url.Action("ListPost", "Post", new { type = 4 })" class="text-decoration-none">
                    <div class="popular-product-card card" style="width: 100%;">
                        <div class="text-center">
                            <img src="~/scss/images/uploads/products/hoatdong.jpg" class="card-img-top rounded w-75 img-thumbnail mt-3" alt="popular_1">
                            <i class="icon-new fa-solid fa-bookmark text-danger fs-4"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title fs-3 text-break">Hoạt động</h5>
                            <p class="mt-0 mb-0"><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i><i class="text-danger fa-solid fa-star"></i></p>
                        </div>
                    </div>
               </a>
            </div>
            
        </div>
    </section>

    <!--recomment DUE-->
    <section class="latest container">
        <div class="latest-title ">
            <h1 class="item">
                Các mốc lịch sử quan trọng
            </h1>

        </div>
    </section>
    <br>
    <section class="recomment container ">
        <div class="custom-wrapper">
            <ul class="custom-list custom-sessions">
                <li>
                    <div class="custom-time">1975 - 1985</div>
                    <p>Khoa Kinh tế thuộc Trường Đại học Bách khoa Đà Nẵng</p>
                </li>
                <li>
                    <div class="custom-time">1985-1988</div>
                    <p>Phan hiệu Đại học Kinh te Da Nang truc thuoc Bộ Dại hoc va Trung học chuyen nghiệp</p>
                    <ul class="custom-list custom-sessions">
                        <li>
                            <div class="custom-time">Năm 1985</div>
                            <p>Khoa Kinh tế được tách ra thành Phân hiệu Đại học Kinh tế Đà Nẵng (trực thuộc Bộ)</p>
                        </li>
                        <li>
                            <div class="custom-time">Năm 1988</div>
                            <p>
                                Phân hiệu Đại học Kinh tế Đà Nẵng lại sáp nhập với Trường Đại học Bách khoa Đà Nẵng và trở thành 02 khoa
                                của Trường
                            </p>
                        </li>
                        <li>
                            <div class="custom-time">Năm 2004</div>
                            <p>
                                Trường Đại học Kinh tế và Quản trị Kinh doanh chính thức được đổi tên thành Trường Đại học Kinh tế thuộc Đại
                                học Đà Nẵng
                            </p>
                        </li>
                    </ul>

                </li>
                <li>
                    <div class="custom-time">1988 - 1995</div>
                    <p>Phân hiệu Đại học Kinh tế Đà Nẵng được sát nhập với Trường Đại học Bách khoa Đà Nẵng</p>
                </li>
                <li>
                    <div class="custom-time">1995 - 2005</div>
                    <p>Trường Đại học Kinh tế và Quản trị kinh doanh Trực thuộc Đại học Đà Nẵng</p>
                </li>
                <li>
                    <div class="custom-time">2005 - Nay</div>
                    <p> Đánh dấu những bước phát triển đột phá của Trường Đại học Kinh tế - Đại học Đà Nẵng</p>
                </li>
            </ul>
        </div>
    </section>
    <!--Video DUE-->
    <section class="video container">
        <div class="video-title">
            <h1 class="item">Video DUE</h1>
            <p class="view">Xem thêm <i class="icon fa-solid text-secondary fa-right-long fw-bold"></i></p>
        </div>
        <div class="video-content d-flex flex-wrap justify-content-center mt-2">
            <div class="video-content-card text-center col-12 col-sm-12 col-md-12 col-lg-6">
                <object width="100%" height="415"
                        data="https://www.youtube.com/embed/Ne8pM3exK3A?si=AKfmn5SPXUIRwUYg">
                </object>
            </div>
            <div class="video-content-card col-12 col-sm-12 col-md-12 col-lg-6 ps-3">
                <h6 class="text-center card-title fs-3 text-break">DUE TIVI</h6>
                <p class="mt-2">
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="" class="fs-5 text-decoration-none">Giới thiệu về Trường Đại học Kinh tế - Đại học Đà Nẵng</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/pfJURhMH3TY?si=GjAEBLS3Sfblr8le" class="fs-5 text-decoration-none">Trường Đại học Kinh tế - Môi trường học thuật năng động, sáng tạo</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/urTCll7mAsY?si=0fI3MU4hLa01BgxF" class="fs-5 text-decoration-none">Quá trình hình thành và phát triển Trường Đại học Kinh tế 1975 - 2023</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/fsM31gbKwHs?si=cIR6JPAJ9glbgPkM" class="fs-5 text-decoration-none">Ngày hội nhập học tân sinh viên khóa 50K</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/VmaYHMJ4tik?si=cZ25nOTaUgeEhsJA" class="fs-5 text-decoration-none">Lễ khai giảng năm học 2024 - 2025 Trường Đại học Kinh tế - ĐHĐN</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/bnQAE6OBZlY?si=l0lmIbQPh0glJ07T" class="fs-5 text-decoration-none">Hội thảo quốc tế về Kế toán và Tài chính ICOAF 2024</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/FXUR8YCkKtM?si=Edk_31Zk9nXFmDMM" class="fs-5 text-decoration-none">Hội thảo MICA 2024</a>
                </p>
                <p>
                    <img src="~/scss/images//icons/ico-youtube.png" class="rounded-circle img-thumbnail" alt="popular_1">
                    <a href="https://www.youtube.com/embed/PfEUKJa8Q9Q?si=Op6inwCb2zUcmCp6" class="fs-5 text-decoration-none">Khánh thành DUE Digital Hub</a>
                </p>
            </div>
        </div>

    </section>
    <!--Góc chia sẻ-->
    <section class="latest container">
        <div class="latest-title ">
            <h1 class="item">
                Chia sẻ cảm nhận
            </h1>
            <a href="@Url.Action("ListPost", "Post", new { type = 5 })" class="text-decoration-none">
            <p class="view">Xem thêm <i class="icon fa-solid text-secondary fa-right-long fw-bold"></i></p>
            </a>
        </div>
    </section>
    <!--author-->
    <section class="dad_author container">
        <div class="author">
            <div class="author-eka">
                <div class="author-eka-title h-100 w-100 d-flex flex-column justify-content-center">
                    <h4 class="fw-bold">Huỳnh Thị Ánh Nhi</h4>
                    <p class="text-secondary fs-6">Từ học sinh giởi Quốc gia đến chinh phục ước mơ tại DUE</p>
                </div>
                <div class="author-eka-img">
                    <img src="~/scss/images/uploads/products/author_keka.png" class="img-keka img-fluid" alt="" />
                </div>
                <div class="author-eka-quote">
                    <i class="fa-sharp fa-solid fa-quote-right"></i>
                </div>
            </div>
            <div class="author-hazar">
                <div class="author-hazar-title h-100 w-100 d-flex flex-column justify-content-center">
                    <h4 class="fw-bold">Riwan Berahal</h4>
                    <p class="text-secondary fs-6">Dám bước ra khỏi vùng an toàn để phát triển toàn diện bản thân</p>
                </div>
                <div class="author-hazar-img">
                    <img src="~/scss/images/uploads/products/author_haza.png" class="img-hazar img-fluid" alt="" />
                </div>
                <div class="author-hazar-quote">
                    <i class="fa-sharp fa-solid fa-quote-right"></i>
                </div>
            </div>
            <div class="author-khoe">
                <div class="author-khoe-title h-100 w-100 d-flex flex-column justify-content-center">
                    <h4 class="fw-bold">Nguyễn Trần Khánh Phương</h4>
                    <p class="text-secondary fs-6">DUE: Nơi chắp cánh ước mơ cho sinh viên</p>
                </div>
                <div class="author-khoe-img">
                    <img src="~/scss/images/uploads/products/author_khoe.png" class="img-khoe img-fluid" alt="" />
                </div>
                <div class="author-khoe-quote">
                    <i class="fa-sharp fa-solid fa-quote-right"></i>
                </div>
            </div>
        </div>

    </section>
</main>